index

 <table class="table table-bordered border-dark">
 <tbody>
<% @wishes.each do |wish| %>
 
  <tr>
    <td>
      
        <%= attachment_image_tag wish, :wish_image , size:'200x200'%>
      
    </td>
    
      <td class="derivery-info"><%= link_to wish.wish_title,wish_path(wish.id) %></td>
    
    <td class="derivery-info"><%= wish.memo %></td>
    <td class="text-center">
    </td>
  </tr>
<% end %>
</tbody>
</table> 

<%= react_component("organisms/Index/WishesIndex",{wishes: @wishes, relations: @relations ,tags: @tag_list}) %>  

<%= react_component("organisms/modal/NewWishModal") %> 
<%= react_component("Button") %> 

