index
<table class="table table-bordered border-dark">
 <tbody>
<% @wishes.each do |wish| %>
  <tr>
    <td>
      <%= link_to wish_path(wish.id) do %>
        <%= attachment_image_tag wish, :wish_image , size:'200x200'%>
      <% end %>
    </td>
    <td class="derivery-info"><%= wish.wish_title %></td>
    <td class="derivery-info"><%= wish.memo %></td>
    <td class="text-center">
    </td>
  </tr>
<% end %>
</tbody>
</table>
 <%= react_component("organisms/Index/WishesIndex",{title: "aaa",image:"",memo: "memo" }) %>  

<% @wishes.each do |wish| %>
 <%= react_component("organisms/Index/WishesIndex",{title: wish.wish_title,image: wish.wish_image,memo: wish.memo }) %>  
<% end %>
<%= react_component("organisms/modal/NewWishModal",{wishTitle: @wish.wish_title}) %> 
<%= react_component("Button") %> 

