
<div class="container">
  <div class="row mt-5">
    <div class="col-md-5 mb-5">
          <%= attachment_image_tag @wish, :wish_image, size:'200x200' %>
    </div>
    <div class="col-md-7 mt-2">
      <h4 class="mt-2"><%= @wish.wish_title %></h4>
      <div class="mt-3"><%= @wish.memo %></div>

    </div>
  </div>
</div>
 <div class="row">
   <% if @wish.isCompleted == false %>
     <div class="mx-auto">
    <%= link_to "叶えられた！", wishes_complete_path(@wish.id),method: :patch ,class:"btn btn-danger ml-4"%>
    </div>
    <% end  %>
 </div>


<p>コメント件数：<%= @wish.complete_reviews.count %></p>
<% @wish.complete_reviews.each do |complete_review| %>

  <%= complete_review.review_title %>
  <%= complete_review.review %>
  <%= link_to wish_complete_reviews_path(complete_review) do %>
    <%= attachment_image_tag complete_review, :complete_image, size:'200x200' %>
  <% end  %>
  <%= complete_review.created_at.strftime('%Y/%m/%d') %><%= complete_review.review %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@wish, @review], local: true) do |f| %>
  <%= f.text_area :review_title, rows:'5',placeholder: "コメントをここに" %>
  <%= f.text_area :review, rows:'5',placeholder: "コメントをここに" %>
  <%= f.attachment_field :complete_image %>
  <%= f.submit "送信する" %>
<% end %>
</div>
